---
---

@import "minima";

/* Overrides */
$on-laptop: 1200px !default;

hr {
  margin: 20px 0;
}

/* End Overrides */

.img--centered {
  text-align: center;
  > img {
    margin: 0 auto;
  }
}

.list--no-bullet {
  list-style-type: none;
}

.pagination {
  margin-bottom: 20px;
  text-align: center;
}
