---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {% for post in page.paginator.posts %}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          {% if post.categories != 0 %}
            • <span class="post-meta" rel="tag">
            {% for category in post.categories %}
              {% unless category == post.categories.last %}
                <a href="{{ site.url }}/categories/{{ category | url_encode }}/index.html">{{ category }}</a>,
              {% else %}
                <a href="{{ site.url }}/categories/{{ category | url_encode }}/index.html">{{ category }}</a>
              {% endunless %}
            {% endfor %}
          </span>
          {% else %}
            <span></span>
          {% endif %}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <div class="pagination">
      {% if page.paginator.previous_page %}
        <a href="{{ page.paginator.previous_page_path | url_escape }}" class="previous">&laquo;</a>
      {% else %}
        <span class="previous">&laquo;</span>
      {% endif %}
      <span class="page_number ">Page: {{ page.paginator.page }} of {{ page.paginator.total_pages }}</span>
      {% if page.paginator.next_page %}
        <a href="{{ page.paginator.next_page_path | url_escape }}" class="next">&raquo;</a>
      {% else %}
        <span class="next ">&raquo;</span>
      {% endif %}
    </div>

  {%- endif -%}

</div>
